<div class="about">
  <h1 class="about-title">Обо мне</h1>
  <div class="about-img">
    <img class="about-img_photo img-thumbnail" src="../../../assets/photo/itali1.jpg" alt="author">
    <h5 class="about-img_initials">Карамзин Михаил Михалович</h5>
  </div>
  <div class="about-body">
    <div class="about-body_text">
      <h2 class="about-body_text-title">Приветствую!</h2>
      <p class="about-body_text-paragraph">Меня зовут Михаил Карамзин. Я начинающий Front-end разработчик и данный блог является проектом, который я выполнил, изучая Angular на курсе «разработка SPA приложений с Angular от Exadel» в образовательном центре ПВТ IT Academy.</p>
      <p class="about-body_text-paragraph">Мне повезло с преподавателем-ментором. Дмитрий Дорошков - Senior Software engineer – Exadel. Можно написать отдельную статью об этом человеке, ибо изучая Front-end разработку около года, пройдя несколько онлайн курсов с менторами, я впервые увидел человека не только с высоким профессиональным уровнем знаний и практическим опытом, но и того, кто может так же профессионально этим опытом и знаниями поделиться. </p>
      <p class="about-body_text-paragraph">Пока это эксперимент и если честно я не определился с направлением, форматом и контентом блога. Ну и на данный момент особо нет возможности вести что-то подобное, все свободное уходит на развитие в выбранном направлении, а горизонт поставленной цели ещё далёк.</p>
      <p class="about-body_text-paragraph">Думаю, придет то время когда появиться возможность делиться с окружающим миром своим жизненным опытом и мнением на интересующие меня темы. Так как стараюсь жить каждый день, не ожидая особых условий, обретая как можно больше специальных навыков и знаний. </p>
      <p class="about-body_text-paragraph">Со мной можно связаться, написав комментарии или через соцсети.</p>
      <ul class = "about-body_img">
        <li class="about-body_img-social"><a href="https://www.linkedin.com/in/mkaramzin/" target="_blank"><img src="../../../assets/socseti/linkedin_logo.png" alt="linkedin"></a></li>
        <li class="about-body_img-social"><a href="skype:profile_name?mikhail.karamzin" target="_blank"><img src="../../../assets/socseti/skype_logo.png" alt="skype"></a></li>
        <li class="about-body_img-social"><a href="https://www.instagram.com/karamzin_mikhail/" target="_blank"><img src="../../../assets/socseti/instagram_logo.png" alt="instagram"></a></li>
        <li class="about-body_img-social"><a href="https://vk.com/id527998348" target="_blank"><img src="../../../assets/socseti/vk_logo.png" alt="vk"></a></li>
        <li class="about-body_img-social"><a href="https://t.me/KaramzinMikhail" target="_blank"><img src="../../../assets/socseti/telegram_logo.png" alt="telegram"></a></li>
      </ul>
      <p class="about-body_text-paragraph">Комментарии на сайте модерируются.</p>
      <p class="about-body_text-paragraph">В данный момент реклама на сайте, ни под каким видом не размещается.</p>
    </div>
  </div>
</div>
