<div class="about">
  <h1 class="about-title">Обо мне</h1>
  <div class="about-img">
    <img class="about-img_photo img-thumbnail" src="../../../assets/photo/itali1.jpg" alt="author">
    <h5 class="about-img_initials">Карамзин Михаил Михалович</h5>
  </div>
  <div class="about-body">
    <div class="about-body_text">
      <p class="about-body_text-paragraph">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="about-body_text-paragraph">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="about-body_text-paragraph">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
