<div class="row">

  <div>
    <a ><img src="../../../../assets/Web%20development.png" alt="author"></a>
  </div>

  <h1 class="site-title col-md-12">
    <span>Михаил Карамзин</span>
  </h1>
  <span class="site-title col-md-12">Крылатое выражение</span>

  <ul class="nav main justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link active"
        [routerLink]="['/']"
      >Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Обо мне</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        (click)="connectAd()"
      >Админка</a>
    </li>
  </ul>


  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>

