<div class="row">
  <div class="site-banner">
    <div class="site-banner_picture">
      <a (click)="connectAbout()"><img src="../../../../assets/photo/itali.jpg" alt="author" class="site-banner_picture-img img-thumbnail" ></a>
    </div>
    <div class="site-banner_text">
      <h1 class="site-banner_text-title col-md-12">
        Михаил Карамзин
      </h1>
      <span class="site-banner_text-dictum col-md-12">Прошлое уже не исправить, но ты можешь напрячься и изменить будущее.</span>
    </div>
  </div>
  <ul class="nav main justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link active"
        [routerLink]="['/']"
      >Главная</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        (click)="connectAbout()"
      >Обо мне</a>
    </li>

    <li
      class="nav-item"
      *ngIf="!authenticated"
    >
      <a
        class="nav-link"
        (click)="connectAd()"
      >Авторизация</a>
    </li>

    <li
      class="nav-item"
      *ngIf="authenticated"
    >
      <a
        class="nav-link"
        (click)="connectAd()"
      >Админка</a>
    </li>
    <li
      class="nav-item"
      *ngIf="authenticated"
    >
    <a
      class="nav-link"
      (click)="logOut($event)"
    >Выйти</a>
  </li>

  </ul>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div class="btn-top" appGoTop>
    <img class="btn-top_img" src="../../../../assets/photo/topButton.jpg" alt="buttonGoTop">
  </div>

</div>



