<div class="row">
  <div class="site-banner">
    <div class="site-banner_picture">
      <a ><img src="../../../../assets/my-foto1.jpg" alt="author" class="site-banner_picture-img"></a>
    </div>
    <div class="site-banner_text">
      <h1 class="site-banner_text-title col-md-12">
        Михаил Карамзин
      </h1>
      <span class="site-banner_text-dictum col-md-12">Прошлое уже не исправить, но ты можешь напрячься и изменить будущее.</span>
    </div>
  </div>
  <ul class="nav main justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link active"
        [routerLink]="['/']"
      >Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Обо мне</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        (click)="connectAd()"
      >Админка</a>
    </li>
  </ul>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>

