<div *ngIf="post$ | async as post; else loading">

  <div class="post">

    <div class="post-header row">

      <h1 class="post-header_title">{{ post.title }}</h1>

      <div class="post-header_info">
        <strong class="post-header_info-author">{{ post.author }}</strong>
        <small class="post-header_info-date">{{ post.date | date: 'd MMMM yyy,  hh:mm':null:'ru' }}</small>
      </div>
    </div>

    <div class="post-content">
      <quill-view-html
        class="post-content_text"
        [content]="post.text"
      ></quill-view-html>
    </div>

  </div>

  <div class="comments">
    <app-comments-page></app-comments-page>
  </div>

</div>

<ng-template #loading>
  <p class="text-center">Пост загружается...</p>
</ng-template>
