<div class="post">
  <div class="header">
    <h1>Заголовок поста</h1>

    <div class="btn btn-link"
         routerLink="/"
    >На главную</div>
  </div>

  <div class="info">
    <strong>Автор</strong>
    <small>04.05.2020</small>
  </div>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores consequatur corporis ea error excepturi harum illo inventore iusto laborum molestias nisi nobis, odio officia placeat possimus quia rerum saepe sapiente soluta? Beatae cumque doloremque nam. Asperiores nobis odio optio pariatur perspiciatis quis reprehenderit sunt ullam vero voluptatem! Accusantium deleniti ea illum in inventore non possimus quae quisquam reprehenderit sunt, temporibus, veritatis. Cumque fugiat hic inventore iure, labore molestias nobis quos repellat repudiandae vel? A aperiam aspernatur beatae consequatur eos ex expedita facilis illo illum incidunt ipsam, nihil omnis quam sint soluta voluptatem voluptates! Explicabo provident reiciendis saepe voluptas voluptatibus!</p>
  </div>


</div>
