<div class="container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <h2>Войти в панель администратора</h2>

        <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
          {{ error }}
        </div>

        <div [ngClass]="{invalid: email.touched && email.invalid}"
             class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 formControlName="email"
          >
          <div *ngIf="email.touched && email.invalid"
               class="validation">
            <small *ngIf="email.errors.required">Введите ваш email</small>
            <small *ngIf="email.errors.email">Введите правильный email</small>
          </div>
        </div>

        <div [ngClass]="{invalid: password.touched && password.invalid}"
             class="form-group">
          <label for="password">Пароль</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 formControlName="password"
          >
          <div *ngIf="password.touched && password.invalid"
               class="validation">
            <small *ngIf="password.errors.required">Введите пароль</small>
            <small *ngIf="password.errors.minlength">
              Пароль должен быть не менее {{ password.errors.minlength.requiredLength }} символов!
              Введено {{ password.errors.minlength.actualLength }}.
            </small>
          </div>
        </div>

        <button type="submit"
                [disabled]="form.invalid || submitted"
                class="btn btn-primary"
        >Войти</button>

      </form>
    </div>
  </div>
</div>

